body {
  margin: 0 auto;
  background-image: url("https://pixewall.com/wp-content/uploads/2023/12/sci-fi537019179377-2048x1152.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(193, 209, 223, 0.2);
    padding: 50px;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201D;
  color: #937341;
  cursor: pointer;
}

.tabs-title.active {
  background-color: #e2b977;
  color: #23201D;
}

/* .centered-content {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(193, 209, 223, 0.2);
  padding: 50px;
} */

.tabs-content li {
  color: aqua;
  font-weight: 800;
  font-size: 30px;
}