body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.content__img{
width: 600px;
height: auto;
}

#content {

  /* width: 500px; */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#btn-click {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 1.5s;
}

#btn-click:hover {
  background-color: #0056b3;
}

#mouse-event-div {
  border: 1px solid #333;
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
}

#input-text {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


.select__pх {
  /* margin-right: 10px; */
}

.deleteButton {
  box-sizing: border-box;
  padding: 5px 9px;
  margin-left: 10px;
  border-radius: 50px;
  background-color: #007bff;
  transition: 1.5s;
  cursor: pointer;
  border: none;

}

.deleteButton:hover {
  background-color: rgb(81, 58, 118);
  color: azure;
}

.deleteInputButton{
  box-sizing: border-box;
  padding: 5px 9px;
  margin-left: 10px;
  border-radius: 50px;
  background-color: #476686;
  transition: 1.5s;
  cursor: pointer;
  border: none;
}
.deleteInputButton:hover{
  background-color: rgb(81, 58, 118);
  color: azure;
}

.wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* btn-input-create */
}

.input {
  box-sizing: border-box;
  padding: 10px 5px;
  margin: 10px;
  border-radius: 10px;

}

#btn-input {
  /* display: flex;
  align-self: center; */
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  background-color: #476686;
  color: #fff;
  transition: 1.5s;
  cursor: pointer;
}

#btn-input:hover {
  background-color: #1e1734;
  color: #fff;
}