body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}
img {
width: 50%;
height: auto;
transition: 1.5s;
}

img:hover{
  width: 52%;
height: auto;
}
p {
  color: #666;
  font-size: 18px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #f4f4f4;
}

.feature {
  text-align: center;
}

.feature-icon {
  font-size: 24px;
  color: #3498db;
  margin-bottom: 10px;
}

.feature-title {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-description {
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 30px 10px;
}


/* --------------------------- */

.footer__link{
  text-decoration: none;
  background-color: #3498db;
  padding: 10px 15px;
  border-radius: 30px;
  transition: 1.5s;
  color: aliceblue;
}
.footer__link:hover{
  /* padding: 20px 25px; */
  background-color: #1d5981;
  margin: 10px;
  font-size: 30px;
  color: #333;
}

/* ---------------   <select>  ----------------- */
#rating {
  margin: 5px auto;
  display: flex;
  width: 150px;
  background-color: #3498db;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

