:root {
	--color-primary: gold;
	--color-second: orangered;
}


body {
  
  background-image: url("https://pixewall.com/wp-content/uploads/2023/12/monster58148816240-2048x1152.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
 
}


.light-theme {
  background-image: url("https://pixewall.com/wp-content/uploads/2023/12/sci-fi537019179377-2048x1152.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.dark-theme {
  background-image: url("https://pixewall.com/wp-content/uploads/2023/12/monster58148816240-2048x1152.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}




#themeToggle{
  position: absolute;
  content: "";
  top: 20px;
  left: 30px;

  padding: 15px 30px;
  border-radius: 10px;
  background-color: #22202E;
  color: antiquewhite;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;

}
#themeToggle:hover{
  background-color: #4d4965;
}

#themeToggle:active{
  transform: translateY(5px);
  background-color: #FFF;
  color: #22202E;
}


#content {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 50px;
}

.inner {
  text-align: center;
}

.btn {
  margin-bottom: 15px;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  color: #22202E;
  border: none;
}

.btn:hover {
  background-color: #4d4965;
  color: aqua;
}

.btn:active {
  transform: translateY(5px);
  background-color: #FFF;
  color: #22202E;
}

#content,
#countdown {
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px 30px;
  color: aqua;
}


p {
  margin-top: 200px;
font-size: 5rem;
/* margin: auto; */
font-family: system-ui;
font-weight: 900;
text-transform: uppercase;
color: var(--color-primary);
-webkit-text-stroke: 2px var(--color-second);
text-stroke: 2px var(--color-second);
text-shadow: 1px 1px 5px var(--color-second);
position: relative;
line-height: 100%;
}
.bubble {
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-image: radial-gradient(var(--color-primary) 20%, var(--color-second));
	box-sizing: border-box;
	position: absolute;
	index: -1;
	bottom: 25px;
	opacity: 0;
	mix-blend-mode: overlay;
	animation: floatUp 1s ease-in infinite;
}
@keyframes floatUp {
	25% { 
		opacity: 1; 
		transform: scale(1);
		filter: blur(5px)
	}
	100% {
		bottom: 10rem; 
		opacity: 0;
		transform: scale(0);
		filter: blur(10px)
	}
}
