:root {
	--color-primary: gold;
	--color-second: orangered;
}

p {
    margin-top: 100px;
	font-size: 5rem;
	/* margin: auto; */
	font-family: system-ui;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--color-primary);
	-webkit-text-stroke: 2px var(--color-second);
	text-stroke: 2px var(--color-second);
	text-shadow: 1px 1px 5px var(--color-second);
	position: relative;
	line-height: 100%;
}

.bubble {
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-image: radial-gradient(var(--color-primary) 20%, var(--color-second));
	box-sizing: border-box;
	position: absolute;
	index: -1;
	bottom: 25px;
	opacity: 0;
	mix-blend-mode: overlay;
	animation: floatUp 1s ease-in infinite;
}
@keyframes floatUp {
	25% { 
		opacity: 1; 
		transform: scale(1);
		filter: blur(5px)
	}
	100% {
		bottom: 10rem; 
		opacity: 0;
		transform: scale(0);
		filter: blur(10px)
	}
}

body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background-image: linear-gradient(
		#111, #444
	);
}

