body {
    /* background-color: #fbf6f6; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

header {

    border-bottom: 1px solid #726E8D;
}

.box_menu {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    height: 88px;
    align-items: center;
}

.box_menu .logo {
    text-decoration: none;
    color: #8b6314;
    font-family: Montserrat;
    font-size: 24px;

}

.header_icon {
    display: flex;
    width: 100px;
    height: 16px;
    justify-content: center;
    text-align: center;
}

.header_icon a {

    padding: 0 15px;
}

.header_search {

    background: url(../img/Search.svg) no-repeat;
    background-size: 16px;

}

.shopping {

    background: url(../img/Shopping--cart.svg) no-repeat;
    background-size: 16px;

}

.avatar {
    background: url(../img/User--avatar.svg) no-repeat;
    background-size: 16px;
}


.header_menu {
    display: flex;
    justify-content: center;
}

.header_menu a {
    text-decoration: none;
    color: #acaa41;
    font-family: Open Sans;

}

.header_menu ul {
    display: flex;
}

.header_menu li {

    padding: 0 22px;
}

/* main */

.main{
    position: relative;
}



.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: rgb(68, 79, 65);
    color: white;
}


#themeToggle{
    position: absolute;
    content: "";
    top: 20px;
    left: 30px;

    padding: 15px 5px;
    border-radius: 10px;
    background-color: #22202E;
    color: antiquewhite;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;

}
#themeToggle:hover{
    background-color: #4d4965;
}

#themeToggle:active{
    transform: translateY(5px);
    background-color: #FFF;
    color: #22202E;
}


.main_menu1 option{
    color: #acaa41;
}
.main_menu1 select{
    /* color: #acaa41; */
    background-color: #dedfdd;
}

.main__title {
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;


    line-height: 140%;
    padding-bottom: 40px;
}

.main_box {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-content: space-around;
    height: 64px;
}

.main_menu1 select {
    color: #2A254B;
    font-family: Open Sans;
    line-height: 150%;
}

.main_menu2 {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 150%;

}

.main_menu2 p {
    padding-right: 16px;
    color: #acaa41;
}

.main_box select {
    border: none;
    outline: none;

}

.main_box ul li {
    display: inline-block;
    text-align: center;
}


.items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-gap: 20px;
}

.items a {
    text-decoration: none;
}

.items img {
    padding-bottom: 24px;
}

.text {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 8px;
}

.cards {
    height: 462px;
}

.name_items {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 140%;

}

.Price {

    color: #2A254B;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 150%;

}

.main_btn {
    text-align: center;

}

.btn {
    display: block;
    padding: 16px 32px;
    margin: 48px auto 40px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 150%;

}

.main_botoom {
    display: grid;
    grid-template-columns: auto auto;
}

.img {
    width: 720px;
    height: 521px;
    background: url(../img/Image.jpg);
}

.main_botoom h2 {
    color: #2A254B;

    font-family: Montserrat;
    font-size: 32px;
    padding-top: 71px;
    padding-bottom: 21px;
    margin-left: 49px;
}

.main_botoom p {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 150%;
    margin-left: 49px;
}

.main_search {
    padding-top: 216px;
    padding-left: 72px;
    display: flex;
    align-items: flex-start;
    height: 56px;
}

.input_btn {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    width: 120px;
    padding: 16px 32px;
    background-color: #2A254B;
    border: none;
}

.input {
    height: 50px;
    width: 472px;
    border-radius: 0;
}

/* footer */


footer {
    background-color: #2A254B;

}

.footer_box {
    max-width: 1277px;
    margin: 0 auto;
}

.footer_colum {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: start;
    padding: 58px 0;
    border-bottom: 1px solid #4E4D93;

}

.footer_colum li {
    padding-bottom: 12px;

}

.footer_colum a {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.maps {
    width: 642px;
}

.footer_bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 25px;
}

.footer_bottom p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
}

.footer_icon {
    display: inline-block;
    height: 24px;
    width: 285px;
    background-color: #2A254B;

}

.footer_icon a {
    display: inline-block;
    height: 24px;
    width: 24px;
    text-decoration: none;
    background-color: #2A254B;
}

.linkedin {
    background: url(../img/Logo--linkedin\ \(1\).svg) no-repeat;
    background-size: 24px;
    padding-right: 24px;
}

.facebook {
    background: url(../img/Logo--facebook\ \(1\).svg)no-repeat;
    background-size: 24px;
    padding-right: 24px;
}

.instagram {
    background: url(../img/Logo--instagram\ \(1\).svg)no-repeat;
    background-size: 24px;
    padding-right: 24px;
}

.skype {
    background: url(../img/Logo--skype\ \(1\).svg)no-repeat;
    background-size: 24px;
    padding-right: 24px;
}

.twitter {
    background: url(../img/Logo--twitter\ \(1\).svg)no-repeat;
    background-size: 24px;
    padding-right: 24px;
}

.pinterest {
    background: url(../img/Logo--pinterest\ \(1\).svg)no-repeat;
    background-size: 24px;
}